/* Declare global variables for the colour palette. */
:root {
    --red: #be1622;
    --blue: #007fb0;
    --grey: #34516C;
    --forest: #006250;
    --sunrise: #f47721;
    --lake: #0099d2;
    --slate: #577a9b;
    --grass: #339933;
    --gold: #f2be1a;
    --sky: #53b7e8;
    --silver: #919cad;
    --olive: #9bcb4e;
    --light-sky: #a4d3f2;
    --cloud: #c7cbda;
}  

/* Set global styles */
body {
    font-family: sans-serif, serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

/* General content styles */
.content {
    margin: 1rem auto; /* Automatically center the content using left/right margins */
    width: 55rem;
}

.content h1 {
    color: var(--grey);
    font-size: 2.4rem;
}

.content h2 {
    color: var(--gold);
    font-size: 1.8rem;
}

.content p {
    margin: .6rem 0;
}

/* ==================== Header Styles ==================== */

/* Primary Navigation Styles */

.nav {
    background-color: var(--red);
    display: block;

    /* Set position and z-index to allow the navigation to display over the "Top" button on products.html. */
    position: relative;
    z-index: 1;
}

.logo {
    /* Set height and width of the logo */
    height: 140px;
    width: auto;
}

.nav-header {
    color: white;
    display: inline-block; /* Inline-block is used to allow the margin to be changed. */
    font-size: 2rem;
    margin: 3rem 0 0 0; /* Center the header */
    text-shadow: 1px 1px 4px black; /* Emphasise the title using a small shadow */
    vertical-align: top;
}

.nav-links {
    display: inline; /* Display content on the same line. */
    list-style-type: none; /* Remove default bullet points. */
}

.nav-link {
    float: right; /* Push to the right of the navbar. */
}

.nav-link a {
    color: white;
    display: block;
    font-weight: 500;
    margin-top: 2.6rem; /* Center the links inside the navbar */
    padding: 1rem;
    text-decoration: none; /* Remove default text decoration for hyperlinks. */
    transition: .3s; /* Adds a transition to the :hover effect to give a smoother look. */
}

.nav-link a:hover, .nav-link .active {
    background-color: #9e111b; /* Change background color slightly when this element is hovered by the mouse. */
}

/* Secondary Navigation Styles */

.burger-icon {
    display: none; /* Hide the burger icon by default */
}

.burger-nav {
    display: block;
    height: 0; /* Set height to zero so transition duration can be applied. */
    transition: .1s;
}

.burger-links {
    display: none;
}

.show .burger-nav {
    background-color: var(--grey);
    height: 60px;
    transition: .1s;
}

.show .burger-links {
    display: inline-block;
    list-style-type: none;
}

.show .burger-link {
    float: left;
    margin-top: .3rem;
}

.show .burger-link a {
    color: white;
    padding: 1rem;
    text-decoration: none;
    transition: .3s;
}

.show .burger-link a:hover, .show .burger-link .active {
    background-color: #2b4359; 
}

/* Rotate first bar of burger icon */
.animate .bar1 {
    height: 5px;
    margin: 6px 0;

    /* Rotate the first bar to form one half the 'X' character. */
    transform: rotate(-45deg) translate(-6px, 6px);
}

/* Fade out the second bar */
.animate .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.animate .bar3 {
    height: 5px;

    /* Rotate the third bar to form the last half the 'X' character. */
    transform: rotate(45deg) translate(-7px, -8px) ;
}

/* ==================== Footer Styles ==================== */

/* The following three classes are used to keep the footer always visible and always on the bottom of the screen. */
/* Source: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */
.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 18rem;
}

.stay-bottom {
    bottom: 0;
    height: 18rem;
    position: absolute;
    width: 100%;
}

/* Flexbox is used to evenly display and wrap multiple columns in the footer. */
/* Flexbox parent */
.footer {
    align-items: flex-start; /* Align children to the top */
    background-color: var(--grey);
    display: flex; /* Enable flexbox. */
    flex-flow: row wrap; /* Shorthand to order from left to right in a row and enable wrapping. */
    justify-content: center; /* Center all children */
}

/* Flexbox child */ 
.footer-child {
    color: white;
    flex-grow: 1;
    margin: 1rem;
}

/* Change color of line break */
.dark {
    background-color: white;
    color: white;
}

/* Class for a divider on a light background. */
.light {
    background-color: var(--slate);
    color: var(--slate);
}

/* Class to hide an element. */
.hidden {
    display: none;
}

/* ==================== Register/Login Styles ==================== */

.input-form {
    margin-top: 1rem;
    width: 100%;
}

/* Style form input boxes */
.input-form input, .input-form textarea {
    border: .5px solid var(--cloud);
    box-sizing: border-box;
    display: block;
    font-family: sans-serif, serif; /* Overrides default font styling of the textarea tag. */
    margin-bottom: 1rem;
    padding: 1rem;
    resize: none;
    transition: .3s;
    width: 100%;
}

/* Style the Submit button. */
.input-form input[type=submit] {
    background-color: var(--lake);
    border: none;
    border-radius: 0;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2rem;
    padding: .5rem;
    transition: .3s;
    width: 100%;
}

/* When the Submit button is hovered. */
.input-form input[type=submit]:hover {
    padding: 1rem 1rem;
}

/* When the Submit button is disabled. */
.input-form input[type=submit]:disabled {
    background-color: #fc7784;
    color: black;
    cursor: not-allowed;
}

.input-form label {
    display: block;
    margin-bottom: .5rem;
}

/* When form input boxes are hovered. */
.input-form input:hover, .input-form textarea:hover, :focus-visible {
    box-shadow: 0 0 10px var(--slate);
    outline: none;
}

.success {
    background-color: #abffca;
}

.failure {
    background-color: white;
}

/* Failed validation checks. */
.hint {
    background-color: #fc7784;
    color: black;
    height: 0;
    margin-bottom: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    transition: opacity .3s;
}

.hint p {
    margin: 0;
    padding: .3rem;
}

.hint i {
    margin-right: .5rem;
}

.reveal {
    height: auto;
    margin-bottom: 1rem;
    opacity: 1;
    padding: 1rem;
}

.action-success {
    background-color: #abffca;
    box-sizing: border-box;
    font-weight: 700;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

.strong {
    font-weight: 700;
}